main {
    background-color: aqua;
    width: 100%;
    min-height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: center;
}


main>div {
    background-color: deeppink;
    width: 650px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

main>div>section {

    background-color: darkgoldenrod;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: start;


}


body>main>div>section>img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: right;
    border-radius: 50%;

}

#info-perfil {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#dados-perfil {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#botoes-perfil {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
}

#botao-edit {
    background-color: var(--cor-branco1);
    color: var(--cor-azul);
    border-radius: 0%;
    padding: 5px;
}

#botao-sair {
    background-color: var(--cor-vermelho);
    color: var(--cor-branco1);
    width: 100px;
    border-radius: 0%;
}

#icone-publicacoes {
    width: 650px;
    height: 1000px;
    background-color: crimson;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#icone-publicacoes>div {
    display: flex;
    align-items: start;
    gap: 10px;
}

.publicacoes {
    width: 100%;
    height: 50px;

}


main>div>section>a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none;
    color: var(--cor-preto);
    text-transform: lowercase;
    padding: 10px;
}

.conteudo-publi {
    width: 100%;
    height: 200px;
    display: flex;
    padding: 20px;
}

.conteudo-publi>figure>figcaption {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    display: flex;
    align-items: center;
    column-gap: 15px;
    order: 1;

}




.acoes-publi {
    display: flex;
    width: 88px;
   flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
    margin-top: 15px;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    
}